<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}LegalCyclopedia{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/typography.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/responsive.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="{{ url_for('static',filename='images/loader.gif') }}" alt="loader">
        </div>
    </div>
        <!-- loading End -->
        {% block content %}
        {% endblock %}
            <!-- Footer start-->
            <footer id="contact" class="iq-footerr main-bg fshap ">
                <img class="img-fluid fshap-after" src="{{ url_for('static',filename='images/banner/fshap.png') }}" alt="image">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-6 ">
                                <h4 class= "text-white  mb-3">Menu</h4>
                                <ul class="menu">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/features">Features</a></li>
                                    <li><a href="/pricing">Pricing</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/privacy-policy">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 iq-rmt-20">
                                <h4 class= "text-white  mb-3">Subscribe To Newsletter</h4>
                                <form class="form-inline mb-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control search-btn" id="inputPassword2" placeholder="Email">
                                    </div>
                                    <a href="JavaScript:Void(0);" class="button submit-btn">Submit</a>
                                </form>
                                <span class="text-white d-inline">Follow Us :</span>
                                <ul class="info-share d-inline">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="contact-bg">
                                    <h4 class= "text-white iq-rmt-30  mb-3">Address</h4>
                                    <ul class="iq-contact text-white">
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="logo iq-rmt-30">
                                    <!--<a href="index.html"><img src="images/logo.png" class="img-fluid" alt="img"></a>-->
                                    <h3 style="color:white">LegalCyclopedia</h3>
                                    <p class="mt-3 text-white">Our goal is to better assist you.</p>
                                    <!--<div class="mt-3 text-white link">Design By@ <a href="https://iqonicthemes.com/"> iqonictheme.com </a> </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- back-to-top -->
                <div id="back-to-top">
                    <a class="top" id="top" href="#top"><span>Scroll Up</span> <i class="ion-ios-arrow-thin-up"></i></a>
                </div>
                <!-- back-to-top End -->
            </footer>
            <!-- Footer End-->
            <!--=================================
          Chatbot -->
            <div id="body">
                <div id="chat-circle" class="btn btn-raised">
                    <i class="ion-chatbubble-working"></i>
                </div>
                <div class="chat-box">
                    <div class="chat-box-header">
                        <h5 class="title">ChatBot</h5>
                        <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
                    </div>
                    <div class="chat-box-body">
                        <div class="chat-box-overlay">
                        </div>
                        <div class="chat-logs">
                        </div>
                        <!--chat-log -->
                    </div>
                    <div class="chat-input">
                        <form>
                            <input type="text" id="chat-input" placeholder="Send a message..." />
                            <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!--=================================
            Chatbot -->
            <!--=================================
            Cookies -->
            <div id="cookie_div" class="align-items-center"> We use cookies to give you tailored experiences on our website.
                <a class="button grey text-right ml-3" href="#" role="button" id="cookie">Accept </a>
            </div>
            <!--=================================
            Cookies -->
        <!-- Optional JavaScript -->
        <!-- jQuery first -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <!-- popper -->
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- chatbot -->
        <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
        <!-- countdown -->
        <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
        <!-- Magnific-popup JavaScript -->
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <!-- Owl Carousel -->
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <!-- Wow -->
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <!-- jquery.countTo -->
        <script src="{{ url_for('static', filename='js/counto.js') }}"></script>
        <!--custom -->
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>