<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Checkout Sample</title>
    <meta name="description" content="A demo of Stripe Payment Intents" />
      <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  </head>

  <body>
    <div class="togethere-background"></div>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <h1>Choose a collaboration plan</h1>

        <div class="price-table-container">
          <section>
            <form action="/create-checkout-session" method="POST">
              <input type="hidden" id="basicPrice" name="priceId" value="price_1KDandKK3D090enHW1L5AG8l">
              <img
                src="{{ url_for('static',filename='images/starter.png') }}"
                width="120"
                height="120"
                />
              <div class="name">Starter</div>
              <div class="price">$12</div>
              <div class="duration">per month</div>
              <button id="basic-plan-btn">Select</button>
            </form>
          </section>
          <!--
          <section>
            <form action="/create-checkout-session" method="POST">
              <input type="hidden" id="proPrice" name="priceId" value="price_1KBP8cKK3D090enHck8jDNGJ">
              <img
                src="{{ url_for('static',filename='images/professional.png') }}"
                width="120"
                height="120"
                />
              <div class="name">Professional</div>
              <div class="price">$18</div>
              <div class="duration">per month</div>
              <button id="pro-plan-btn">Select</button>
            </form>
          </section>
          -->
        </div>
      </div>
    </div>
    <div id="error-message" class="error-message"></div>
  </body>
</html>