{% extends "base.html" %} {% block title %}Pricing{% endblock %}
{% block content %}
<!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/home">
                                <h3 style="color:white">LegalCyclopedia</h3>
                                <!--
                                <img src="images/logo.png" class="img-fluid logo" alt="img">
                                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
                                -->
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://shiny.legalcyclopedia.com/reports/">Features</a>
                                    </li>
                                    <!--
                                    <li class="nav-item dropdown" href="/features">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Features
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Data Visualization</a>
                                            <a class="dropdown-item" href="#">Summary Information</a>
                                            <a class="dropdown-item" href="#">Predictive Analysis</a>
                                        </div>
                                    </li>
                                    -->

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about-us">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Log In/ Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- About -->
        <section class=" iq-breadcrumb3 text-left main-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mb-0">
                            <h1 class="text-white">Pricing</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb" class="text-right">
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="index.html"><i class="ion-android-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img class="img-fluid iq-breadcrumb3-after" src="{{ url_for('static', filename='images/about/about-shap.png') }}" alt="image">
    </section>
            <!-- About End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <!-- Eas Pricing Plans-->
                <section class="iq-pricing">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box">
                                    <h2 class="title font-weight-bold">Choose an annual membership</h2>
                                    <p class="sub-title">All membership packages come with a 10-day satisfaction guarantee.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mt-2">
                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Standard</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>29/</strong><span class="month">Standard</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                        Case Management
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Hourly and Flat Fee Billing
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Custom Invoices
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Task Management
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Devices
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Payment Plans
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Clio Launcher
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Trust Requests
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Advanced Reporting
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Priority Support
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="/create-checkout-session" role="button">Choose Package</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Plus</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>39/</strong><span class="month">Month</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                          Advanced Reporting
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Priority Support
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Case Management
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Hourly and Flat Fee Billing
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Devices
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Payment Plans
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Clio Launcher
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Trust Requests
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Custom Invoices
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Task Management
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Premium</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>49/</strong><span class="month">Month</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                            Custom Invoices
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Task Management
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Case Management
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Hourly and Flat Fee Billing
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Devices
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Payment Plans
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Clio Launcher
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Trust Requests
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Advanced Reporting
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Priority Support
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Eas Pricing Plans-->
            </div>
            <!--=================================
          MAIN CONTENT -->
{% endblock %}