{% extends "base.html" %} {% block title %}Test{% endblock %}
{% block content %}
<!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/home">
                                <h3 style="color:white">LegalCyclopedia</h3>
                                <!--
                                <img src="images/logo.png" class="img-fluid logo" alt="img">
                                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
                                -->
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://shiny.legalcyclopedia.com/reports/">Features</a>
                                    </li>
                                    <!--
                                    <li class="nav-item dropdown" href="/features">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Features
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Data Visualization</a>
                                            <a class="dropdown-item" href="#">Summary Information</a>
                                            <a class="dropdown-item" href="#">Predictive Analysis</a>
                                        </div>
                                    </li>
                                    -->

                                    <li class="nav-item">
                                        <a class="nav-link" href="/pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/about-us">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Log In/ Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- About -->
        <section class=" iq-breadcrumb3 text-left main-bg ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mb-0">
                            <h1 class="text-white">Team</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb" class="text-right">
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="index.html"><i class="ion-android-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Team</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img class="img-fluid iq-breadcrumb3-after" src="{{ url_for('static',filename='images/about/about-shap.png') }}" alt="image">
    </section>
            <!-- About End -->

            <!-- About -->
            <!--<section class=" about-agency">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 wow fadeInLeft">
                            <img src="images/about/01.png" class="img-fluid pr-5" data-jarallax='{"speed": 0.6}" ' alt="img">
          </div>
                            <div class="col-lg-6 col-md-6 text-left align-self-center">
                                <h6 class="iq-font-main mb-2">About Us</h6>
                                <h3 class="font-weight-bold">We Are An Agency That Focuses On Digital Design Solutions</h3>
                                <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
            </section> -->

            <!-- About End -->
            <!-- Tab 4 -->
            <!--
            <section class="iq-tab horizontal gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <!--<ul class="nav nav-pills tabs-left justify-content-center" id="pills-tab2" role="tablist">
                                <li class="nav-item iq-r-mb-15">
                                    <a class="nav-link active" id="retina1-tab" data-toggle="pill" href="#retina1" role="tab" aria-controls="retina1" aria-selected="true">Financial</a>
                                </li>
                                <li class="nav-item iq-r-mb-15">
                                    <a class="nav-link" id="designs1-tab" data-toggle="pill" href="#designs1" role="tab" aria-controls="designs1" aria-selected="false">Commercial</a>
                                </li>
                                <li class="nav-item iq-r-mb-15">
                                    <a class="nav-link" id="customize1-tab" data-toggle="pill" href="#customize1" role="tab" aria-controls="customize1" aria-selected="false">Safety</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="clean1-tab" data-toggle="pill" href="#clean1" role="tab" aria-controls="clean1" aria-selected="false">Transport</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="revolution1-tab" data-toggle="pill" href="#revolution1" role="tab" aria-controls="revolution1" aria-selected="false">Government</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="responsive1-tab" data-toggle="pill" href="#responsive1" role="tab" aria-controls="responsive1" aria-selected="false">Other</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <!--<div class="tab-content mt-4">
                                <div class="tab-pane active" id="retina1">
                                    <div class="row flex-row-reverse">
                                        <div class="col-lg-6  col-md-6 iq-mb-30 wow fadeIn animated bounce slower">
                                            <img src="images/about/02.png" class="img-fluid " alt="img">
                  </div>
                                            <div class="col-lg-6  col-md-6 text-left align-self-center">
                                                <h6 class="iq-font-main mb-2">We’re Creative Agency</h6>
                                                <h3 class="font-weight-bold">We Are An Agency That Focuses On Digital Design Solutions</h3>
                                                <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="designs1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 iq-mb-30">
                                                <img src="images/about/03.png" class="img-fluid " alt="img">
                  </div>
                                                <div class="col-lg-6 col-md-6 text-left align-self-center">
                                                    <h6 class="iq-font-main mb-2">Everything is here</h6>
                                                    <h3 class="font-weight-bold">That Focuses On Digital Design Solutions</h3>
                                                    <p class="mt-4">The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="customize1">
                                            <div class="row flex-row-reverse">
                                                <div class="col-lg-6 col-md-6 iq-mb-30">
                                                    <img src="images/about/04.png" class="img-fluid " alt="img">
                  </div>
                                                    <div class="col-lg-6 col-md-6 text-left align-self-center">
                                                        <div class="iq-accordion">
                                                            <div class="iq-ad-block ad-active">
                                                                <a href="javascript:void(0)" class="ad-title">Ipsum is simply dummy the printing?</a>
                                                                <div class="ad-details">
                                                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                                                                </div>
                                                            </div>
                                                            <div class="iq-ad-block">
                                                                <a href="javascript:void(0)" class="ad-title">Dummy the printing and type setting?</a>
                                                                <div class="ad-details">
                                                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="clean1">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 iq-mb-30">
                                                        <img src="images/about/05.png" class="img-fluid " alt="img">
                  </div>
                                                        <div class="col-lg-6 col-md-6 text-left align-self-center">
                                                            <h6 class="iq-font-main mb-2">That Focuses On </h6>
                                                            <h3 class="font-weight-bold">Marketing offers marketers several benefits including</h3>
                                                            <ul class="list-style mt-4">
                                                                <li><i class="fas fa-chart-pie blue-color"></i><span class="font-weight-bold text-black">It is a long established fact that a reader</span></li>
                                                                <li><i class="fas fa-chart-bar blue-color"></i></i><span class="font-weight-bold text-black">printing and typesetting industry</span></li>
                                                                <li><i class="fas fa-chart-line blue-color"></i><span class="font-weight-bold text-black">Galley of type and scrambled</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="revolution1">
                                                    <div class="row flex-row-reverse">
                                                        <div class="col-lg-6 col-md-6 iq-mb-30">
                                                            <img src="images/about/06.png" class="img-fluid" alt="img">
                  </div>
                                                            <div class="col-lg-6 col-md-6 text-left align-self-center">
                                                                <h6 class="iq-font-main mb-2">We Are An Agency</h6>
                                                                <h3 class="font-weight-bold">Digital Design Solutions </h3>
                                                                <p class="mt-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="responsive1">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 iq-mb-30">
                                                                <img src="images/about/07.png" class="img-fluid" alt="img">
                  </div>
                                                                <div class="col-lg-6 col-md-6 text-left align-self-center">
                                                                    <h6 class="iq-font-main mb-2">We’re Agency</h6>
                                                                    <h3 class="font-weight-bold">Platform that allows webmasters to collect statistics</h3>
                                                                    <p class="mt-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
            </section>
            -->
            <!-- Tab 4 -->
            <!-- Our Team-->
            <section id="team" class="overview-block-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h2 class="title font-weight-bold">Our Team</h2>
                                <p class="sub-title">A group of people who work together to achieve a common purpose.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="iq-team grey-bg">
                                <div class="iq-team-img">
                                    <img src="{{ url_for('static',filename='images/bg/04.jpg') }}" class="img-fluid center-block" alt="#">
              </div>
                                    <div class="iq-team-info text-center">
                                        <h5>Athena</h5>
                                        <span class="team-post iq-tw-5">Founder</span>
                                    </div>
                                    <div class="share">
                                        <!--
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                        </ul>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6">
                                <div class="iq-team grey-bg">
                                    <div class="iq-team-img">
                                        <img src="{{ url_for('static',filename='images/bg/05.jpg') }}" class="img-fluid center-block" alt="#">
              </div>
                                        <div class="iq-team-info text-center">
                                            <h5>Sebastian</h5>
                                            <span class="team-post iq-tw-5">CTO</span>
                                        </div>
                                        <div class="share">
                                        <!--
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                            </ul>
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-12 col-lg-3 col-md-6">
                                    <div class="iq-team grey-bg">
                                        <div class="iq-team-img">
                                            <img src="images/bg/06.jpg" class="img-fluid center-block" alt="#">
              </div>
                                            <div class="iq-team-info text-center">
                                                <h5>Jason Deol</h5>
                                                <span class="team-post iq-tw-5">Web Designer</span>
                                            </div>
                                            <div class="share">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3 col-md-6">
                                        <div class="iq-team grey-bg">
                                            <div class="iq-team-img">
                                                <img src="images/bg/04.jpg" class="img-fluid center-block" alt="#">
              </div>
                                                <div class="iq-team-info text-center">
                                                    <h5>Js Adams</h5>
                                                    <span class="team-post iq-tw-5">Web Designer</span>
                                                </div>
                                                <div class="share">
                                                    <ul>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
            </section>
            <!-- Our Team end-->
            <!-- Clients  -->
            <!--<section class="iq-clients pt-0 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box mb-4">
                                <h2 class="title font-weight-bold">They Trust Me</h2>
                                <p class="sub-title">Simply dummy has been the industry's standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="6" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="2">
                                <div class="item ml-3 mr-3 mb-4 mt-3">
                                    <div class="clients-box">
                                        <img class="img-fluid client-img" src="images/clients/clients-img1.png" alt="image" data-toggle="tooltip" title="HTML">
                </div>
                                    </div>
                                    <div class="item ml-3 mr-3 mb-4 mt-3">
                                        <div class="clients-box">
                                            <img class="img-fluid client-img" src="images/clients/clients-img2.png" alt="image" data-toggle="tooltip" title="Wordpress">
                </div>
                                        </div>
                                        <div class="item ml-3 mr-3 mb-4 mt-3">
                                            <div class="clients-box">
                                                <img class="img-fluid client-img" src="images/clients/clients-img3.png" alt="image" data-toggle="tooltip" title="Shopify">
                </div>
                                            </div>
                                            <div class="item ml-3 mr-3 mb-4 mt-3">
                                                <div class="clients-box">
                                                    <img class="img-fluid client-img" src="images/clients/clients-img4.png" alt="image" data-toggle="tooltip" title="CSS">
                </div>
                                                </div>
                                                <div class="item ml-3 mr-3 mb-4 mt-3">
                                                    <div class="clients-box">
                                                        <img class="img-fluid client-img" src="images/clients/clients-img5.png" alt="image" data-toggle="tooltip" title="jQuery">
                </div>
                                                    </div>
                                                    <div class="item ml-3 mr-3 mb-4 mt-3">
                                                        <div class="clients-box">
                                                            <img class="img-fluid client-img" src="images/clients/clients-img6.png" alt="image" data-toggle="tooltip" title="Bootstrap">
                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            </section>
        -->
{% endblock %}